body
{
    color: #333;
    text-align: center;
    font-family: 'PT Serif', serif;
}

#cabecera
{
    background: #3333aa;
    box-shadow: 4px 7px 15px 0px gray;
    color: whitesmoke;
    font-weight: bold;
    margin: 0;
    padding: 5 10px;
}

#cabecera #tagline 
{
    padding: 0 0 0 10px;
    font-weight: normal;
    font-size: medium;
}

#container 
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid black;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}

#post
{
    padding: 5px;
}

#footer
{
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}